<div id="cloud-images"></div>
<div id="downloads">
  <div class="info-popup">
    <button id="snorby-cloud" class="clickme" data-href='https://cloud.snorby.org'></button>
  </div>
  <span class="button-text clickme" data-href='https://cloud.snorby.org'>Sign Up Today!</span>
</div>
