<div class="iphone-app">
  <div class="iphone-app-video">
    <%= image_tag 'iphone.png', :height => '500px' %>
    <video class="iphone-video" autoplay="autoplay" loop="loop" width="218px"
     poster="images/iphone_poster.png">
        <source src="videos/iphone.mp4" type="video/mp4" />
        <source src="videos/iphone.ogv" type="video/ogg" />
    </video>
  </div>

  <div class="iphone-app-info">
    <h1>iPhone App</h1>
    This is some information about the iPhone app.
    <ul class="features">
      <li>Feature 1</li>
      <li>Feature 2</li>
      <li>Feature 3</li>
    </ul>
    <%= image_tag 'appstore_icon.png', :width => '200px' %>
  </div>
</div>
